body,html{
    margin:0px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    max-height: 100%;
}

*{
    font-family: 'Roboto', sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
}

#single-plan, #plan-overview,#main-overview{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    max-height: 100%;
    min-height: 0;
}

#topbar,#bottombar{
    height: 2em;
    min-height: 2em;
    border-bottom: 1px solid rgb(169,200,200);
}

#bottombar{
    border-bottom: none;
    border-top: 2px solid rgb(169,200,200);
    display: flex;
}

#left,#right{
    overflow-y: auto;
    max-height: inherit;
    flex:1;
}

#left{
    flex:2;
    border-right:2px solid rgb(169,200,200);
}

#right.delete:hover *{
    display: none;
}

#right.delete:hover{
    background: rgba(200,0,0,0.2);
    color:red;
    animation:delete 5s infinite;
}

#right div.hover, #right div.hover *{
    user-select:none;
    cursor: move;
}

#right div.hover:hover{
    background:rgba(155,155,155,0.5);
}

#right div:not(.hover){
    font-weight: bold;
    background:rgba(100,100,100,0.1);
}

#snap-point{
    width: calc(100% - 10px);
    margin: 5px;
    height: 2em;
    border: 1px dashed rgba(50,50,50,0.5);
}

#snap-point{
    display: none;
    animation: snap 5s infinite;
}

@keyframes snap{
    0%{
        background:rgba(50,50,50,0);
    }
    50%{
        background:rgba(50,50,50,0.5);
        opacity:25%;
    }
    100%{
        background:rgba(50,50,50,0);
    }
}

@keyframes delete{
    0%{
        background:rgba(200,0,0,0.1);
    }
    50%{
        background:rgba(200,0,0,0.5);
        opacity:25%;
    }
    100%{
        background:rgba(200,0,0,0.1);
    }
}

#left div:not(#snap-point){
    padding: 5px;
    border-top: 1px solid rgb(169,200,200);
    border-bottom: 1px solid rgb(169,200,200);
}

#left div:not(#snap-point) div{
    height: fit-content;
    padding:0;
    margin-bottom: 2px;
    border:0;
}

#left div:not(#snap-point) p{
    margin: 0;
}

#left div:not(#snap-point) *.bold{
    font-weight: bold;
}

.itemcontrolbar{
    display: inline;
    float:right;
    text-align: center;
    line-height: 15px;
}

#left div:not(#snap-point) span.controlico{
    border:1px solid rgba(0,0,0,0);
    width:15px;
    height: 15px;
    float:right;
    margin-left: 5px;
}

#left div:not(#snap-point) span.deleteico{
    border-radius: 5px;
    font-weight: bold;
    color:rgb(200,0,0);
    cursor: default;
}

#left div:not(#snap-point) span.moveico{
    border:1px solid rgb(169,200,200);
    border-radius: 5px;
    cursor: move;
}

#left div:not(#snap-point) input,#left div:not(#snap-point) select{
    width: fit-content;
    margin-left: 2px;
    margin-right: 2px;
    border:1px solid #a9c8c8;
    border-radius: 5px;
    padding-left: 2px;
}

#left div:not(#snap-point) input[type=number]{
    width:45px;
}

#menu{
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.5);
    position: absolute;
    display: none;
    overflow: hidden;
}

#menu-holder{
    width:26%;
    height:80%;
    background:white;
    position: fixed;
    top:10%;
    left:37%;
    border:2px solid #a9c8c8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#menu-holder div:not(#menu-btn-holder){
    flex:1;
    border-bottom:2px dashed #a9c8c8;

}

#menu-btn-holder{
    text-align: center;
    padding:5px;
}

#menu-btn-holder button{
    background:transparent;
    border:2px solid #a9c8c8;
    border-radius: 10px;
    font-weight: bold;
    margin-left:15px;
    margin-right: 15px;
}

#add-progression-menu label{
    font-weight: bold;
}

#add-progression-menu div{
    padding:5px;
}

button.addbtn{
    border: 2px solid #a9c8c8;
    background:none;
    width:25px;
    height: 25px;
    border-radius: 25px;
    font-weight: bold;
}

textarea{
    display: inline;
    width:calc(100% - 5px);
    margin-top: 5px;
    height: 50px;
    resize: none;
    font-family: Roboto;
    border:0.5px solid #a9c8c8;
    border-radius: 5px;
}

div.progression::before{
    content:"·";
    font-weight: bold;
    color:#a9c8c8;
    margin-right: 5px;
}

div.progression div.pcontrols{
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background:rgba(230,230,230,0.3);
    margin-left:5px;
    box-sizing: border-box;
}

div.progression div.pcontrols button{
    background:transparent;
    font-weight: bold;
    color:rgba(255,0,0,0.5);
    border:none;
}

#left-topbar,#right-topbar{
    display: inline-block;
}

#right-topbar{
    float:right;
    margin: 0;
}

#to-core-btn{
    background:rgba(200,200,200,0.7);
}

#main-overview-topbar-left div{
    height: 100%;
    margin: 0;
    display: inline-block;
}

#main-overview-topbar-left div *{
    height: 100%;
    display: inline-block;
    padding: 0;
    border: 0;
}

#main-overview-topbar-left div *:not(label):not(span){
    margin-left: 5px;
    padding-left:5px;
    padding-right: 5px;
    background:rgba(225,225,225,0.5);
}

#main-overview-topbar-left button{
    padding-left: 15px!important;
    padding-right: 15px!important;
    font-weight: bold;
    height: 100%;
    border: 0;
}

#main-overview-topbar-left button:not(#share-back-btn){
    background: rgba(169,200,200,0.6)!important;
}
#main-overview-topbar-left, #main-overview-topbar-right{
    display: inline-block;
}


#main-overview-topbar-right{
    float:right;
}

#main-overview-topbar-right span, #main-overview-topbar-right button{
    display: inline-block;
    height: 100%;
    float:left;
}

#main-overview-topbar-right button{
    background: rgba(169,200,200,0.6)!important;
    margin: 0;
    border:0;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

#main-overview-topbar-right button:hover:not(:disabled),#main-overview-topbar-left button:hover:not(:disabled):not(#share-back-btn){
    background: rgba(169,200,200,1)!important;
}

#alldeletebtn{
    margin-left: 5px!important;
}

#select-all-container, span.select-container{
    width:2em;
    height: 2em;
    display: inline-block;
}

#select-all,span.select{
    width:60%!important;
    height: 60%!important;
    background: white;
    border:2px solid black;
    border-radius: 7px;
    margin: auto;
    top:15%;
    left:calc(15% - 1px);
    position: relative;
    text-align: center;
    color:white;
    font-weight: bold;
    display: inline-block;
}

span.select-container{
    bottom: 5px;
    width:30px!important;
    height: 30px!important;
    padding:0!important;
}

span.select{
    padding:0!important;
    left: 0%;
}

span.select:hover:not(.activated),#select-all:hover:not(.activated){
    background:rgba(0,0,0,0.1);
}

span.select.activated, #select-all.activated{
    background:rgba(0,0,0,0.5);
}

#left-topbar button, #right-topbar button{
    margin: 0px;
    margin-top:0;
    margin-bottom: 0;
    border:0;
    font-weight: bold;
    height:100%;
    display: inline-block;
}

#left-topbar button:not(:disabled):hover, #right-topbar button:not(:disabled):hover{
    background: rgba(155,155,155,0.5);
}

#left-topbar button:disabled, #right-topbar button:disabled, #main-overview-topbar-right button:disabled{
    background: rgba(200,155,155,0.5)!important;
    color:black;
}

#week-label{
    font-size: 0.75em;
    font-weight: lighter;
}

#topbar div{
    height: 100%;
}

#plan-overview{
    flex-direction: column;
}

#core-details{
    width:100%;
    height: fit-content;
}

#core-details div{
    width:400px;
    height: 25%;
}

#core-details div label{
    padding:5px;
    display: flex;
}

#core-details div label *{
    flex-grow: 1;
    margin-left: 5px;
    border:1px solid #a9c8c8;
    border-radius: 5px;
}

#core-plan{
    width:100%;
    flex: 1;
    outline: 1px solid #a9c8c8;
    overflow: hidden;
}

#level-switcher{
    height: 25px;
    border-bottom: 1px solid #a9c8c8;
}

#inner-core-plan-holder{
    width: 100%;
    height: calc(100% - 25px);
    overflow: auto;
}

#inner-core-plan{
    border-collapse: collapse;
    width:fit-content;
    height: fit-content;
    width: max-content;
}

#level-switcher button{
    width:90px;
    height: 25px;
    border:none;
    padding: 0px;
    background:none;
    border-right: 1px solid #a9c8c8;
}

#level-switcher button.small-lvl{
    width:25px;
}

#level-switcher button:not(.small-lvl):hover, #level-switcher button.selected{
    background: #a9c8c8;
}

#level-switcher button.small-lvl:hover{
    background: rgba(169,200,200,0.3);
}

#inner-core-plan tr:nth-child(even){
    background: rgba(169,200,200,0.2);
}

#inner-core-plan th, #inner-core-plan td{
    border:1px solid #a9c8c8;
    width:100px;
    height: 40px;
    word-wrap: break-word;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.85rem;
}

#inner-core-plan td span{
    width:30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    margin: auto;
    border:1px dashed rgb(155,155,155);
}

#inner-core-plan td span.selected, #inner-core-plan td span:hover:not(.selected){
    background:rgba(155,155,155,0.5);
}

#inner-core-plan td span.selected:hover{
    background:none;
}

#add-level-menu, #share-menu{
    overflow-y: auto;
}

#add-level-menu button{
    width: 100%;
    background: none;
    border:0;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #a9c8c8;
}

#add-level-menu button:nth-child(even){
    background:rgba(169,200,200,0.2);
}

#add-level-menu button:hover:not(:disabled){
    background:rgba(169,200,200,0.4);
}

#logout-btn, #main-site-btn{
    height:100%;
    border:0px;
    background: rgba(232,232,232,0.5);
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

#main-site-btn{
    line-height: 2.5em;
    text-decoration: none;
    color:black;
}

#bottom-spacer{
    flex:1;
}

#settings-btn, #save-btn{
    height:100%;
    border:0px;
    background: rgba(232,232,232,0.5);
    font-size: 12px;
    border-right:1px solid rgba(169,200,200,0.5);
    border-left: 1px solid rgba(169,200,200,1);
    transition: 0.5s;
}

#save-btn.unsaved{
    background: rgba(200,200,200,0.8)!important;
    transition: 0.5s;
}

#logout-div,#main-site-div{
    display: flex;
    width:fit-content;
}

#logout-div button:hover, #logout-div a:hover{
    background: rgba(232,232,232,0.8);
}

#main-overview{
    overflow-y: scroll;
    width:calc(100% - 10px);
    height: fit-content;
    display: block;
    padding: 5px;
}

#main-overview div:not(.select-mainHolder){
    width:250px;
    border:2px solid #a9c8c8;
    height: 350px;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    vertical-align: top;
    box-sizing: border-box;
    padding:1px;
}

#main-overview div.select-mainHolder{
    margin:0;
    margin-top: -5px;
    margin-bottom: -10px;
}

#main-overview div label{
    width:100%;
    text-align: center;
    display: inline-block;
}

#main-overview div label.mainName{
    font-weight: bold;
    font-size: 25px;
}

#main-overview div span{
    padding-left:5px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

#main-overview div span p{
    margin: 0;
    font-style: italic;
}

#main-overview div span p::before{
    content:"-";
    font-weight: bold;
    margin-right: 2px;
}

#main-overview div button{
    width:50%;
    box-sizing: border-box;
    margin-left: 25%;
    margin-top: 10px;
    margin-right: 25%;
    border-radius: 10px;
    border:2px solid #a9c8c8;
    padding-top:5px;
    padding-bottom: 5px;
    background:rgba(225,225,225,0.3);
    font-weight: bold;
}

#main-overview div button:hover{
    background:rgba(225,225,225,0.8);
}

#main-overview div:hover:not(.select-mainHolder){
    padding: 0;
    border: 3px solid #a9c8c8;
}

#main-overview div input{
    background:rgba(169,200,200,0.2);
    border-radius: 5px;
    text-align: center;
    width:calc(100% - 10px);
    border: 0;
    margin: 0;
    padding:4px;
    padding-left: 5px;
    padding-right: 5px;
}

#share-search{
    width: calc(100% - 5px);
    font-weight: bold;
    margin: 0;
    padding: 5px 0 5px 5px;
    background:transparent;
    border:none;
}

#share-menu div{
    border: none!important;
}

#inner-share div:nth-child(odd){
    background:rgba(155,155,155,0.25);
}

#inner-share div button{
    background:none;
    border:0;
    float:right;
    font-weight: bold;
}

#share-back-btn{
    margin-left: 0!important;
    margin-right: 5px;
    background:rgba(155,155,155,0.25)!important;
}

#share-back-btn:hover{
    background:rgba(155,155,155,0.5)!important;
}

#print-menu div:not(#menu-btn-holder) button{
    margin: auto;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius:5px;
    background: none;  
    border:1px solid grey;
    font-weight: bold;
}

#print-menu div label{
    margin-left: 5px;
    width:calc(100% - 15px);
    display: flex;
}

#print-menu div input[type=number]{
    border:1px solid rgba(155,155,155,0.5);
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    flex-grow: 1;
}

#loader{
    width:100%;
    height: 100%;
    background:rgba(200,200,200,0.6);
    position: absolute;
    z-index: 2;
}

#loader div{
    animation: spin 2s linear infinite;
    border: 16px solid rgba(255,255,255,1);
    border-top: 16px solid rgb(169,200,200);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin:auto;
    vertical-align: middle;
    position: relative;
    top:calc(50% - 120px);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media(max-width:700px){
    #menu-holder{
        left:5%;
        width:90%;
    }
}

@media(max-width:750px){
    #main-overview-topbar-left{
        background:orange;
        display: none;
    }
}

@media(max-width:520px){
    #main-overview div{
        width:calc(100% - 10px);
    }
}