:root{
    --color-primary: #7db4b4;
    --color-primary-dark: #4f9191;
    --color-primary-light: #e1f2f2;
}
*{padding: 0;
  margin: 0;
  border:0;}

#printbar{
    display: flex;
    width: fit-content;
    position: fixed;
    height: 40px;
}

#printbtnholder{
    width: fit-content;
    display:flex;
}

#print{
    padding:5px;
    border-radius: 5px;
    border:2px solid var(--color-primary);
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
}

#printspinner{
    width:20px;
    height: 20px;
    margin: 5px;
    background:white;
    border: 5px solid var(--color-primary-light);
    border-left: 5px solid var(--color-primary-dark);
    border-radius: 50%;
    animation: spin 2s linear infinite;
    box-shadow: 0px 0px 2px 1px var(--color-primary);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media print{
    img{
        background-size: cover;
        page-break-after: always;
    }

    div{
        display: inline-block;
        height: fit-content;
        width:fit-content;
    }

    img.half{
        height: 99vh;
        width:50vw;
        background-size:100vw 100vh;
        box-shadow: 1px 0px 0 rgba(200,200,200,0.2);
    }

    div.full{
        height: 99vh;
        width:100vw;
    }

    img.full{
        position:fixed;
        height: 100vw;
        width:99vh;
        transform-origin: 0 0;
        transform: rotate(90deg) translateY(-100vw);
    }
    
    img.portrait{
        position:fixed;
        height: 100vh;
        width:100vw;
        transform: none;
        border-style: solid;
    }

    img.halfSpacer, div.halfSpacer{
        width:50vw;
        height: 99vh;
    }

    #printbar, #printbar *{
        display:none;
    }
}