body{
    margin:0px;
    width:100%;
    font-family: 'Roboto', sans-serif;
}

#maindiv{
    width: 40%;
    min-width: 30rem;
    max-width: 40rem;
    display:inline-block;
    height: 80%;
    margin: 2rem auto;
    max-height: 30rem;
    min-height: 20rem;
    border:2px solid var(--color-primary-dark-highlight);
    border-radius: 20px;
    font-size: 1em;
    display: block;
}

#maindiv h1{
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

#maindivexplain{
    display:block;
    text-align: center;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.dot{
    width: 1em;
    height: 1em;
    background: #00c3ff;
    border-radius: 0.5em;
    display:inline-block;
    transform:translate(0,25%);
}

#maindiv div a{
    margin-right:5px;
}

#maindiv div:not(.dot){
    margin-left: 5px;
    display:flex;
    margin-bottom: 10px;
}

#maindiv div input,select{
    flex-grow: 1;
    margin-right: 5px;
    border:1px solid var(--color-primary);
    border-radius: 5px;
}

#maindiv div input:disabled:not(#emailinput){
    background:transparent!important;
}   

#updatebtn{
    padding:4px;
    padding-left: 8px;
    padding-right: 8px;
    margin: auto;
    display: block;
}

#logout{
    border: none;
    background:none;
    font-weight: bold;
    position: absolute;
    margin: auto;
    display: inline-block;
}

#updatebtn:disabled{
    background: rgba(0,0,0,0.05);
}

#updatebtn:disabled:hover{
    background: rgba(0,0,0,0.05)!important;
}

#acc-pref-btn{
    background: none;
    border:none;
    margin: 0;
    font-weight: bold;
    margin-right: 5px;
}

@media(max-width:30rem){
    #maindiv{
        height: 100%;
        width: 100%;
        border:none;
        top:0;
        left:0;
    }
}

@media(max-height:22rem){
    #maindiv{
        height: 100%;
        width: 100%;
        border:none;
        top:0;
        left:0;
    }
}