body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}

#loadblocker{
    display: none!important;
}

#account-panel{
    width:fit-content;
    max-width: 20em;
    border:2px solid var(--color-primary-dark-highlight);
    border-radius: 15px;
    padding: 5px;
    position: relative;
    margin: 0 auto;
    top:10%;
    transition: 0.5s;
}

@media(max-width:350px){
    #account-panel{
        width:100%;
        border-width: 0px;
        top:10px;
        transition: top 0.5s 0.1s;
    }
}

#toprowbtns{
    margin: 0px;
    width:20em;
}

#logindiv{
    width:20em;
}

#sign-div div div{
    width:100%;
    display:flex;
}

#sign-div div div input{
    flex-grow:1;
    margin-right: 5px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

#sign-div div div label{
    margin-left: 5px;
    margin-right: 2px;
}

#logindiv h1,#signupdiv h1{
    width:100%;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.or-seperator,.password-seperator{
    padding:0!important;
}

.or-seperator hr,.password-seperator hr{
    height:0;
    width:0em;
    border: 1px dashed red;
}

.or-seperator label{
    background:transparent;
    text-align: center;
    width: 50px;
    margin:auto!important;
}

.password-seperator hr{
    width:20em!important;
}

#logindiv button{
    background:transparent;
    margin-bottom: 5px;
    height:40px;
    width:50%;
    margin-left: 25%;
    font-weight: 500;
    font-size: 100%;
}

#logindiv a{
    width:100%;
    color: var(--color-red-bright);
    display:block;
    margin-bottom: 5px;
    text-align: center;
    font-size: 11px;
}

.gbutton,.ybutton{
    margin: auto;
    width: fit-content !important;
    border: 1px solid rgba(127,127,127,0.5);
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.glogo ,.ylogo{
    width:20px;
    height:20px;
    padding: 10px;
    padding-left: 8px;
    padding-right: 24px;
}

.gprompt,.yprompt{
    margin:0!important;
    line-height: 40px;
    height: 40px;
    display: inline-block!important;
    padding-right:8px;
    font-weight: 500;
}

.or-seperator,.password-seperator{
    padding:0!important;
}

.or-seperator hr,.password-seperator hr{
    height:0;
    width:10em;
    border: 1px dashed var(--color-primary);
}

.or-seperator label{
    font-weight: bold;
    background:transparent;
    text-align: center;
    width: 50px;
    margin:auto!important;
}

.password-seperator hr{
    width:20em!important;
}

.mbutton{
    margin: auto;
    width: fit-content !important;
    height: 41px;
    border: 1px solid rgba(127,127,127,0.5);
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.mlogo{
    width:20px;
    height:20px;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
}

.mprompt{
    margin:0!important;
    line-height: 41px;
    height: 41px;
    display: inline-block!important;
    padding-right:12px;
    font-size: 15px;
    font-weight: 600;
    color:#5E5E5E;
    font-family: "Segoe UI";
}

.forgotbtn{
    border:0!important;
    color:var(--color-red)!important;
    padding:5px!important;
    height: fit-content!important;
    border-radius: 0!important;
}

#secondary-panel,#loginemail-panel,#loginemail-provider-panel{
    width:20em;
    display: none;
}

#secondary-panel-buttons{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#secondary-panel-buttons button{
    width:100px;
    background:none;
    border-radius: 5px;
}

#org-selector{
    width:100%;
    border:none;
    border-top: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    border-radius: 0;
    overflow-y: auto;
}

#secondary-panel-message,#loginemail-panel-message,#loginemail-provider-panel p{
    text-align: center;
}

#loginemail-email-input-holder{
    margin-bottom: 15px;
    padding-left: 5%;
    padding-right: 5%;
}

#loginemail-email-input{
    width: 100%;
    border-radius: 5px;
    border:1px solid black;
    padding:2px;
}

#loginemail-confirmemail-btn{
    margin-left: 50%;
    margin:auto;
    margin-bottom: 10px;
    display:block;
    background:transparent;
    padding:5px;
}

#primary-panel{
    display: inline-block;
}

#loginemail-provider-panel div.loginemail-provideroption,#PasswordLinkEmailExpanded{
    border-bottom: 1px solid var(--color-primary);
    transition: 0.5s;
}

#loginemail-provider-panel div.loginemail-provideroption:hover{
    transition: 0.5s;
    background:rgba(155,155,155,0.2);
}

#loginemail-provider-panel div.loginemail-provideroption:nth-child(2){
    border-top: 1px solid var(--color-primary);
}

#loginemail-provider-panel div.loginemail-provideroption img.logo{
    float:left;
    padding-left: 8px;
    padding-right: 24px;
}

#loginemail-provider-panel p:nth-child(1){
    font-weight: bold;
}

#PasswordLinkEmailExpanded{
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;
}

#PasswordLinkEmailExpanded div{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
}

#PasswordLinkEmailExpanded div input{
    flex: 1;
    margin-bottom: 5px;
    border:1px solid black;
    margin-left: 5px;
    border-radius: 5px;
}

#loginemail-password-btn{
    margin: auto;
    margin:auto;
    display:block;
    border-radius: 7px;
}

#PasswordLinkEmailErrorMsg{
    color:var(--color-red-bright);
    font-size: 12px;
    text-align: center;
    width:100%;
    display: block;
    margin-bottom: 5px;
}

#newlinkbtn{
    margin: auto;
    display: block;
    margin-bottom: 5px;
    margin-top: -10px;
    background: transparent;
    border:none;
    color:var(--color-red-mild);
}