body{
    margin: 0;
    padding:0;
    font-family: Roboto;
    background:lightgrey;
}

#new-card-img-upload{
    display: none;
}

button.btn{
    background:white;
    border:1px solid black;
    border-radius: 5px;
}

input[type=checkbox],label{
    display: inline-block;
    vertical-align: middle;
}

select{
    border-radius: 5px;
}

#print-settings-holder{
    width:100%;
    height: fit-content;
}

#print-settings-topbar{
    z-index: 2;
    position: fixed;
    flex-direction: row;
    display: flex;
    height: fit-content;
    width:100%;
    border-bottom: 1px solid grey;
    background:white;
}

#print-settings-topbar div{
    flex:1;
    height: fit-content;
}

#print-settings-topbar div:not(:nth-child(1)){
    border-left:1px solid grey;
}

#image-select-holder,#image-text-edit-holder, #image-highlighting-edit-holder{
    padding:2px 0 3px 2px;
}

#image-select-holder select{
    color:black;
    border-color: black;
    width:150px;
}

#image-select-holder button{
    background:none;
    border:1px solid black;
    border-radius: 7px;
    margin-left: 2px;
    display:inline;
}

#image-select-holder div{
    border:none!important;
    display: inline;
}

#editor-image-front,#editor-image-back{
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

#image-container{
    position: absolute;
    top:30px;
}

#image-text-edit-holder input[type=number]{
    width:40px;
    border-radius: 5px;
    border:1px solid black;
    margin-right: 5px;
}

#markup-holder *{
    margin: 0;
    position: absolute;
    outline: 1px dashed black;
    overflow: hidden;
    white-space: nowrap;
}

#markup-holder p{
    display: inline-block;
    line-height: 0.75em;
    white-space: nowrap;
}

#markup-holder p::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: calc(1 - 50 * 0.5em);
}

#markup-holder p.multiline{
    outline: 1px dashed red;
}

#controlbar{
    position: absolute;
    min-width:200px;
    padding: var(--padding);
    height: var(--height);
    background:white;
    border:1px solid black;
    border-radius: 5px;
}

#controlbar *{
    height: var(--height);
    min-width: var(--height);
    border:none;
    color:black;
    margin-left:2px;
    background:rgba(155,155,155,0.4);
    border-radius:5px;
    display: inline;
    vertical-align: middle;
}

#controlbar input:not([type=image]){
    width:25px;
}

span.resize{
    position: absolute;
    z-index: 3;
    width:10px;
    height:10px;
    border:1px solid var(--color-primary);
    background:var(--color-primary);
    border-radius: 50%;
    cursor: w-resize;
}

span.resize.south{
    cursor:s-resize;
}

div.check{
    overflow: visible!important;
    line-height: 0.75em;
}

div.check:not(div.letter):before{
    width: calc(var(--size) * 0.2);
    height:calc(var(--size) * 0.6);
    top:calc(var(--size) * 0.45);
    left:calc(var(--size) * 0.08);
    background: black;
    content: '';
    position: absolute;
    transform: rotate(-55deg);
}

div.check:not(div.letter):after{
    width: calc(var(--size) * 0.2);
    height:calc(var(--size) * 1.2);;
    top:calc(var(--size) * -1 * 0.15);
    left:calc(var(--size) * 0.55);
    background: black;
    content: '';
    position: absolute;
    transform: rotate(35deg);
}

div.check.letter{
    font-size: var(--size);
    text-align: left;
}

div.check label{
    line-height: 100%;
    outline: none!important;
    height:var(--size);
    width:var(--size);
    font-size: var(--size);
    text-align: center;
    left:calc(var(--size) * var(--offset));
}

#markup-holder.highlightweak div.check label{
    background:rgba(255,255,0,0.5);
}

#markup-holder div.highlighting{
    background:rgba(255,255,0,0.5);
}

#markup-holder *.resizesnap{
    outline:1px solid red;
}

#image-highlighting-edit-holder button{
    background:none;
    border:1px solid black;
    height: 100%;
    border-radius: 5px;
}

*.snappingpoint{
    outline:1px solid red!important;
}

#grouping-holder div{
    width:10px;
    border:3px solid black;
    position: absolute;
    border-right:none;
}

#grouping-holder div.overlap{
    border:3px solid tomato;
    border-right:none;
}

#grouping-holder div.overlap label{
    color:tomato;
}

#grouping-holder div label{
    position: relative;
    color:black;
    left:-25px;
    height: fit-content;
    font-size: 20px;
    top:calc(50% - 10px);
    padding-left: 4px;
    padding-right: 4px;
}

#grouping-holder.highlightweak div label{
    background:rgba(255,255,0,0.5);
}