body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}

input[type="text"],input[type="number"],textarea, select{
    border:2px solid var(--color-primary-dark)!important;
}

input[type="text"]:disabled,input[type="number"]:disabled,textarea:disabled, select:disabled{
    background:rgba(200,200,200,0.15);
}

#general-menu-holder p{
    margin: 5px;
    text-decoration: underline;
}

#general-menu-holder label{
    margin-left: 5px;
}

#general-menu-holder input, select{
    margin-left: 5px;
    border:1px solid grey;
    border-radius: 5px;
}

#general-save-btn{
    display: block;
}

#general-menu-holder div span:not(.setting-arrow){
    width: calc(100% - 4px * 2);
    display: block;
    background:var(--color-primary-light-background-transparent);
    border-top: 2px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    padding:4px;
    font-weight: bold;
}

#general-menu-holder div:not(.nomargin) span:not(.setting-arrow){
    margin-bottom: 5px;
}

#general-menu-holder div span button{
    float: right;
    padding:0px;
    background:none;
    border:none;
    height: 100%;
}

#general-menu-holder div:not(.nomargin) *{
    margin-bottom: 4px;
}

#general-menu-holder div.nomargin *{
    margin-bottom: 0px;
}

#level-settings-container{
    flex-direction: row;
    background:transparent;
    width:100%;
    display: flex;
    height: fit-content;
}

#level-settings-container div{
    height: 40em;
    flex:1;
}

#level-settings-container div div:not(#level-settings-container){
    border-left:none;
}

#lvl-list-settings-container{
    width:fit-content;
    flex-grow:0!important;
    display: flex;
    flex-direction: column;
}

#lvl-list-settings-container label{
    font-weight: bold;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 2px solid grey;
    background:rgba(155,155,155,0.15);
}

#lvl-list-settings-container label.unbold{
    font-weight: normal;
}

#lvl-list-settings-container div{
    width: 20em;
    border:none!important;
}

#lvl-list-settings-container div img{
    width:12px;
    height: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

#lvl-list-settings-container label.alerttext{
    all: unset!important;
    color: #FF7566!important;
}

#lvl-list-settings-levels,#lvl-list-settings-groups{
    overflow-y: scroll;
}

#lvl-list-settings-container div div.lvl-settings-sidelist{
    width: calc(100% - 2px);
    height: fit-content;
    border:none!important;
    overflow-y: initial;
    padding: 2px 0px 2px 2px;

}

#lvl-list-settings-container div div.lvl-settings-sidelist:not(:nth-child(1)){
    border-top: 2px solid grey!important;
}

#lvl-list-settings-container div div.lvl-settings-sidelist:nth-child(even){
    background:rgba(155,155,155,0.1);
}

#lvl-list-settings-container div div.lvl-settings-sidelist label{
    padding:0px 0px 0px 5px;
    border:none;
    height: 100%;
    display: block;
    background:none;
}

#lvl-list-settings-container div:nth-child(2){
    border-bottom: 2px solid grey!important;
    border-top: 2px solid black;
}

#lvl-list-settings-container div div.lvl-settings-sidelist div{
    height:fit-content;
    width:fit-content;
    border: none!important;
    margin-bottom: 5px;
}

#lvl-list-settings-container div div.lvl-settings-sidelist div button{
    height: 25px;
    margin-left: 5px;
    display: inline;
    background:rgba(155,155,155,0.2);
    border:none;
    vertical-align: middle;
    border-radius: 5px;
}

#lvl-list-settings-container div div.lvl-settings-sidelist div input[type=image]{
    height:25px;
    width:25px;
    display: inline;
    background:rgba(155,155,155,0.2);
    vertical-align: middle;
    border:none;
}

#lvl-settings-save-holder{
    border-top: 2px solid grey;
    padding: 5px;
}

#group-menu{
    text-align: center;
}

#color-menu select,#regex-menu select, #progression-edit-menu select{
    color:black!important;
    border-color:grey;
    width:96%;
    margin: 5px 0px 5px 0px;
    padding:5px;
}

#color-menu input,#regex-menu input, #progression-edit-menu input{
    width:96%;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    padding:5px;
}

#color-menu button,#regex-menu button, #progression-edit-menu button{
    margin-bottom: 5px;
}

#color-input{
    height: 4em;
    padding:2px!important;
    border-radius: 0px!important;
    border:2px solid grey!important;

}

#main-lvl-config-side-container{
    flex:1!important;
    flex-direction: column;
    overflow-y: scroll;
}

#lvl-settings-skills-container{
    flex:1!important;
    overflow-y: scroll;
}

#main-lvl-config-side-container div{
    width: 100%;
    height: calc(50% - 0.5px);
}
#main-lvl-config-side-container div:nth-child(2){
    border-top: 1px solid grey;
}

#sidebar-lvl-settings div{
    height: fit-content;
    padding-top:2px;
    padding-bottom: 2px;
    border-bottom: 1px solid grey;
}

#sidebar-lvl-settings label{
    font-weight: bold;
}

#sidebar-lvl-settings div *{
    display: inline;
    font-weight: normal;
}

#sidebar-lvl-next p{
    width:calc(100% - 5px);
    padding-left: 5px;
    margin: 5px 0px 5px 0px;
    text-decoration: none;
    font-weight: bold;
}

#constant-next-text{
    border-top:1px solid grey!important;
}

#sidebar-lvl-next div{
    height: fit-content;
    border:none!important;
}

#sidebar-lvl-next div select{
    color:black!important;
    width:80%;
    margin:0px 5px 0px 5px;
}

#sidebar-lvl-next div select option:nth-child(even){
    font-weight: bold;
    background:rgba(155,155,155,0.2);
}

#sidebar-lvl-next div.next-list-item{
    margin-top: 5px;
    border:none!important;
    padding:5px 0px 5px 0px;
}

#sidebar-lvl-next div.next-list-item:nth-child(odd){
    background:rgba(155,155,155,0.2);
}

#sidebar-lvl-next div.next-list-item label{
    font-weight: normal;
}

#lvl-settings-skills-container label{
    width:calc(100% - 5px);
    display: inline-block;
    padding-left: 5px;
    margin: 0;
}

#lvl-settings-skills-container div{
    height: fit-content;
    width: 100%;
    display: inline-block;
    outline: 1px solid grey;
}
#lvl-settings-skills-container div.btnholder{
    padding-top: 3px!important;
    background:rgba(155,155,155,0.2);
} 

#lvl-settings-skills-container div label{
    background:rgba(155,155,155,0.3);
    padding:0px;
    padding-top: 1px;
    padding-bottom: 2px;
    margin:0;
    width:100%;
}

#lvl-settings-skills-container div button{
    background:none;
    border:none;
    margin-left: 5px;
    font-weight: bold;
    height: 100%;
}

#lvl-settings-skills-container div button.del{
    color:darkred;
}

#lvl-settings-skills-container div button.green{
    color:darkgreen;
}

#lvl-settings-skills-container div p {
    text-decoration: none;
    margin: 0px 5px 0px 5px;
}

#lvl-settings-skills-container div button {
    display: inline-block;
}

#plan-config-container div{
    height: fit-content;
    outline: 1px solid grey;
}

#plan-config-container div label{
    background:rgba(155,155,155,0.3);
    display: block;
    padding:0px;
    padding-top: 1px;
    margin:0;
    width:100%;

}

#plan-config-container div button.newprog{
    background:none;
    border:none;
    padding-bottom: 3px;
    color:darkgreen;
    font-weight: bold;
}

#Add-Passing-Level, #Add-Constant-Level{
    height: 1.5rem!important;
    width: 1.5rem!important;
    outline:2px solid var(--color-primary-dark)!important;
}

div.next-list-item button.roundaction{
    margin-left: 5px;
    height: 1.25rem!important;
    width:1.25rem!important;
}

#modifier-list{
    margin: 0!important;
    padding-bottom: 5px;
}

#modifier-list div{
    padding: 5px 0 5px 0!important;
    margin-bottom: 0px!important;
}

#modifier-list div:nth-child(even){
    background:rgba(155,155,155,0.1);
}

#modifier-save-btn{
    margin-top: 2px!important;
    margin-left: 5px;
    margin-bottom: 6px!important;
}

#modifier-list button:not(#modifier-add){
    margin: 0!important;
    margin-left: 5px!important;
    background:rgba(155,155,155,0.3);
    border:none;
    border-radius: 5px;
    height:24px;
}

#modifier-add{
    margin: 0!important;
    margin-top: 5px!important;
    margin-left: 5px!important;
    background:rgba(155,155,155,0.5);
    border:none;
    border-radius: 5px;
    height:24px;
}

#general-facility-settings span{
    margin: 0!important;
}

#facility-setting-holder{
    width: 100%;
    min-height: 30px;
    border-bottom:2px solid grey;
    flex-direction: column;
    display: flex;
}

#facility-save-btn{
    margin-left:5px;
}

#timeblock-div, #facility-div{
    flex:1;
    margin:0!important;
}

#timeblock-div b, #facility-div b{
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 1px;
    display: block;
}

#timeblock-div div, #facility-div div{
    padding:4px 0 4px 0;
    margin:0!important;   
}

#timeblock-div div div {
    display: inline-block;
    margin:0 4px 0 4px!important;
}

#timeblock-div div:nth-child(even):not(.btnholder), #facility-div div:nth-child(even):not(.btnholder) {
    background:rgba(155,155,155,0.2);
}

#facility-div div div span{
    all: initial!important;
    display:block!important;
    height: 20px!important;
    padding:2px!important;
    font-family: 'Roboto', sans-serif!important;
    padding-bottom: 4px!important;
}

label.Pending{
    color:darkorange;
}

label.failure, label.unauthorized{
    color:red;
}

label.Success{
    color:green;
}

#facility-div div div span label,#facility-div div div span b{
    display: inline-block;
}

#facility-div div div span label{
    margin-right: 5px;
}

#facility-div div div span button{
    padding-left: 5px;
    padding-right: 5px;
    float: initial;
}

#timeblock-div div div button, #facility-div div div button:not(#facilitycreatebtn){
    margin:0px!important;
    background:rgba(155,155,155,0.25);
    border:none;
    border-radius: 5px;
    margin-right: 5px!important;
    font-weight: normal;
}

#facilitycreatebtn{
    margin-bottom: 0!important;
    margin-left: 5px;
    background:rgba(155,155,155,0.25);
    border:none;
    border-radius: 5px;
    font-weight: normal;
}

#facility-div{
    border-bottom: 2px solid grey;
}

#save-lvl-settings-btn.unsaved{
    background:rgba(169, 200, 200,0.4);
}

#general-email-settings * span{
    all: initial!important;
    font-family: 'Roboto', sans-serif!important;
}

#general-email-settings div.flex{
    display: flex;
    flex-direction: row;
}

#email-settings-subject{
    flex: 1;
    margin-right: 5px;
    margin-left: 5px;
    border:1px solid black;
    border-radius: 5px;
}

#email-settings-body,#email-settings-plain-body{
    margin-right: 5px;
    margin-left: 5px;
    border:1px solid black;
    border-radius: 5px;
    height: 100px;
    overflow-y: auto;
    white-space: pre-wrap;
    resize: none;
    width: calc(100% - 18px);
}

#save-email-btn{
    margin-left:5px;
    margin-top:5px;
}

#email-settings-subject span,#email-settings-body span{
    background:rgba(155,155,155,0.4)!important;
    display: inline-block!important;
}

#email-html-btn{
    margin-left: 5px;
}

#email-add-modifier-btn{
    margin-left: 5px;
}

i{
    display: block;
}

.px5margin{
    margin-top: 5px;
}

#open-editor-btn{
    margin-left: 5px;
}

#plan-config-container{
    overflow-y: scroll;
}

#prog-box-superholder{
    position: relative;
    width:100%;
    height: fit-content;
}

#prog-input{
    z-index: 1;
    background:transparent;
    color:transparent;
    caret-color:black;
}

#prog-hightlight-holder{
    z-index: 0;
}

#prog-input, #prog-hightlight-holder, #prog-highlight-code{
    width: 100%;
    height: 100px;
    border:none!important;
    padding:0;
    margin: 0;
    position: absolute;
    top:0;
    left:0;
    resize:none;
    font-size: 1em;
    font-family: Roboto;
    line-height: 1.4em;
    white-space: pre-line;
}

#prog-highlight-code span{
    color: transparent;
    background:var(--color-primary-light);
    display: inline;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

#prog-highlight-code span p{
    color:black;
    height: 100%;
    width:100%;
    position: absolute;
    left:0;
    top:-0.33333em;
    line-height: 1.25em;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

body::-webkit-scrollbar-thumb {
    background: #888; 
}

body::-webkit-scrollbar-thumb:hover {
    background: #555; 
}