#scheduleTable{
    border-collapse: collapse;
    height: fit-content;
    display: table!important;
    table-layout: fixed;
    width:fit-content;
    border-bottom: 1px solid black;
}

#main-schedule-holder{
    width: 100%;
    height: 100%;
    overflow: auto;
}

#scheduleTable tr th:not(:nth-child(1)),#scheduleTable tr:not(:nth-child(2)) td:not(:nth-child(1)), #scheduleTable tr:nth-child(2) td{
    border-left: 1px solid black;
    width: 10em;
}

#scheduleTable th{
    word-break: break-all;
}

#scheduleTable tr td:nth-child(1),#scheduleTable tr th:nth-child(1){
    width:8ch;
    text-align: center;
}

#scheduleTable tr:nth-child(1){
    background:var(--color-primary-half-transparent);
}

#scheduleTable tr:nth-child(2) td{
    padding: 0;
}

#scheduleTable tr td input{
    border:none;
    background:transparent;
    padding:0;
    width:calc(100% - 4px);
    padding-left: 2px;
    height: 100%;
    display: block;
    font-size: 13px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#scheduleTable tr:nth-child(2) td{
    background:var(--color-primary-mostly-transparent);
}

#scheduleTable tr:not(:nth-child(1)) td{
    border-top: 1px solid black;
}

#scheduleTable td div{
    display: block;
    height: 100%;
}

#scheduleTable td div b{
    text-align: center;
    display: block;
}

#scheduleTable td div label, #scheduleTable td div label.light{
    text-align: center;
    display: block;
}

#scheduleTable td div label.light{
    font-size: 0.80rem;
}

#sheetinfo-menu{
    overflow-y:auto;
}

#sheetinfo-menu label{
    display: block;
    text-align: center;
    font-size: 0.95em;
}

#sheetinfo-menu h1{
    font-size: 1.5em;
}

#sheetinfo-menu ul{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    padding-left: 20px;
    flex: 1;
    overflow-y: auto;
}

#sheetinfo-menu span.edit_title{
    text-align: center;
    width:100%;
    display: block;
}

#sheetinfo-menu span.edit_title button{
    border:2px solid var(--color-primary);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 0.75em;
    background: white;
}

#sheetinfo-menu ul li button{
    background:white;
    border:2px solid var(--color-primary);
    margin-left: 5px;
    border-radius: 7px;
    margin-top: 2px;
}

#sheetinfo-menu button.addstudent{
    width:fit-content;
    background: white;
    border:2px solid var(--color-primary);
    margin-left: 5px;
    border-radius: 5px;
}

#sheetinfo-menu button.viewsheetbtn{
    height: 30px;
    width:100%;
    margin-top:4px;
    text-align: left;
    background: var(--color-primary-mostly-transparent);
    border: none;
    border-top: 1px solid var(--color-primary-half-transparent);
    border-bottom: 1px solid var(--color-primary-half-transparent);
    display: block;
}

#config-menu{
    flex-direction: column;
    width:100%;
    flex-grow: 1;
    overflow-y: auto;
}

#configCreateBtn{
    width:80%;
    margin-top:0;
    margin-bottom: 0;
    padding: 5px;
}

#timeLine{
    position: absolute;
    width:calc(100% - 10ch);
    height: 0px;
    border-bottom: 1px solid rgba(198, 77, 77,0.3);
}