#controlHolder{
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    right: 0;
    bottom: 20px;
    height: fit-content;
    width:100%;
    box-sizing: content-box;
    pointer-events: none;
}

#controlSection{
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 30px;
    height: fit-content;
    border:3px solid var(--color-primary-dark);
    background:rgba(155,155,155,0.2);
    display: flex;
    flex-direction: column;
    transition: 0.35s;
    pointer-events: auto;
}

#controlSearchResultHolder{
    margin:10px 10px 5px 10px;
    border-radius: 20px 20px 20px 20px;
    border: 3px solid var(--color-primary);
    background:white;
    flex-grow: 1;
    overflow: hidden;
    animation: hideSearchBar;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

#controlSearchResultHolder.show{
    animation:showSearchBar;
    animation-delay: 0.3s;
}

#controlSearchResults{
    flex: 1;
    max-height: 50vh;
    min-height: 60px;
    overflow-y: auto;
}

#controlSearchResults h1{
    margin-left: 5px;
    font-size: 30px;
    color: rgba(0,0,0,0.75);
}

#controlSearchResults span{
    display: block;
    padding: 5px;
}

#controlSearchResults span:not(:last-child){
    border-bottom:2px solid var(--color-primary);
}

#controlSearchResults span:nth-child(odd){
    background: var(--color-primary-light-transparent);
}

#controlSearchResults span label{
    display: block;
}

#mainControlSection{
    flex: 1;
    display: flex;
    padding:5px 10px 5px 10px;

}

#mainControlBtns{
    display:flex;
}

#searchBar{
    height: 60px;
    border-radius: 20px;
    width:0px;
    border: 3px solid var(--color-primary);
    box-sizing:border-box;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 5px;
    flex-grow:1;
    animation: hideSearchBar;
    animation-delay: 0.34s;
    animation-fill-mode: forwards;
}

@keyframes hideSearchBar{
    from{
        display:block;
    }
    to{
        display:none;
    }
}

#searchBar.show{
    animation: showSearchBar;
}

@keyframes showSearchBar{
    from{
        display:none;
    }
    to{
        display:block;
    }
}

#configMenuBtn,#searchBtn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    border:3px solid var(--color-primary);
    color: var(--color-primary-dark-highlight);
    font-size: 30px;
    transition: 0.5s;
    display: block;
}

#configMenuBtn{
    margin-left: 5px;
}

#configMenuBtn:hover, #searchBtn:hover{
    background:var(--color-primary-light);
}

#scheduleTable{
    border-collapse: collapse;
    height: fit-content;
    display: table!important;
    table-layout: fixed;
    width:fit-content;
    border-bottom: 1px solid black;
}

#main-schedule-holder{
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
}

#scheduleTable tr th:not(:nth-child(1)),#scheduleTable tr:not(:nth-child(2)) td:not(:nth-child(1)), #scheduleTable tr:nth-child(2) td{
    border-left: 1px solid black;
    width: 10em;
}

#scheduleTable th{
    word-break: break-all;
}

#scheduleTable tr td:nth-child(1),#scheduleTable tr th:nth-child(1){
    width:8ch;
    text-align: center;
}

#scheduleTable tr:nth-child(1){
    background:var(--color-primary-half-transparent);
}

#scheduleTable tr:nth-child(2) td{
    padding: 0;
}

#scheduleTable tr td input{
    border:none;
    background:transparent;
    padding:0;
    width:calc(100% - 4px);
    padding-left: 2px;
    height: 100%;
    display: block;
    font-size: 13px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#scheduleTable tr:nth-child(2) td{
    background:var(--color-primary-mostly-transparent);
}

#scheduleTable tr:not(:nth-child(1)) td{
    border-top: 1px solid black;
}

#scheduleTable td div{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#scheduleTable td div b{
    text-align: center;
    display: block;
}

#scheduleTable td div label, #scheduleTable td div label.light{
    text-align: center;
    display: block;
}

#scheduleTable td div label.light{
    font-size: 0.80rem;
}

#sheetinfo-menu{
    overflow-y:auto;
}

#sheetinfo-menu label{
    display: block;
    text-align: center;
    font-size: 0.95em;
}

#sheetinfo-menu h1{
    font-size: 1.5em;
}

#sheetinfo-menu ul{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    padding-left: 20px;
    flex: 1;
    overflow-y: auto;
}

#sheetinfo-menu span.edit_title{
    text-align: center;
    width:100%;
    display: block;
}

#sheetinfo-menu span.edit_title button{
    border:2px solid var(--color-primary);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 0.75em;
    background: white;
}

#sheetinfo-menu ul li button{
    background:white;
    border:2px solid var(--color-primary);
    margin-left: 5px;
    border-radius: 7px;
    margin-top: 2px;
}

#sheetinfo-menu button.addstudent{
    width:fit-content;
    background: white;
    border:2px solid var(--color-primary);
    margin-left: 5px;
    border-radius: 5px;
}

#sheetinfo-menu button.viewsheetbtn{
    height: 30px;
    width:100%;
    text-align: left;
    background: var(--color-primary-mostly-transparent);
    border: none;
    border-top: 1px solid var(--color-primary-half-transparent);
    border-bottom: 1px solid var(--color-primary-half-transparent);
    display: block;
}

#config-menu{
    flex-direction: column;
    width:100%;
    flex-grow: 1;
    overflow-y: auto;
}

div.button-centering-div button{
    width:80%;
    margin-top:0;
    margin-bottom: 5px;
    padding: 5px;
}

#timeLine{
    position: absolute;
    height: 0px;
    border-bottom: 1px solid var(--color-red);
    border-top: 0px solid var(--color-red);
    background: var(--color-red);
}

div.note-section{
    height: fit-content;
    padding-bottom: 5px;
    border-top: 1px solid var(--color-primary-half-transparent);
}

div.button-centering-div{
    width:100%;
    text-align: center;
    margin-top: 5px;
}

h2{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#excelNewExt, #excelUploadExt{
    margin-bottom: 2px;
}

label.uploadprompt{
    text-align: center;
    font-size: 0.75rem;
    padding-top: 0px;
    color: var(--color-primary-dark);
}

#config-assignment-list div p{
    text-align: left;
}

#config-assignment-menu{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#config-assignment-list{
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 5px;
}

#config-assignment-list button{
    border-radius: 5px;
    margin-top: 5px;
}

#config-assignment-list p{
    font-weight:bold;
}

#config-assignment-list label{
    padding-right: 5px;
}

.note-icon-spacer{
    flex-grow:1;
}

.note-icon-holder{
    display: block!important;
    max-height: 22px;
    overflow:hidden;
    margin-bottom: 2px;
    margin-left: 2px;
}

.note-icon-holder span{
    font-size: 20px;
    height: 20px;
    width: 20px;
    background:rgba(255,255,255,0.5);
    border-radius: 25%;
    margin-right: 3px;
    border:1px dashed black;
    cursor: default;
}

#view-change-menu{
    flex-direction: column;
}

#print-change-button{
    width: 2em;
    height: 1.65em;
    font-size: 1.5em;
    line-height: 0;
    text-align: center;
    position: absolute;
    right:0;
    background:none;
    border:none;
    color: var(--color-primary);
    transition: 0.5s;
}

#print-change-button:hover{
    color: var(--color-primary-dark-highlight);
}

#view-change-table-holder{
    flex: 1;
    overflow-y: scroll;
    border-top: 2px solid var(--color-primary-dark);
    border-bottom: 2px solid var(--color-primary-dark);
}

@media print{
    #view-change-table{
        font-size: 12px;
    }
    #view-change-table tr{
        border:1px solid black!important;
    }

    #view-change-table td, #view-change-table th, #view-change-table-holder{
        border:1px solid black!important;
    }
}

#view-change-table{
    width:100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    page-break-inside: auto;
    word-wrap: break-word;
}

#view-change-table tr{
    max-height: 20px;
    page-break-inside:avoid;
    page-break-after:auto;
}

#view-change-table tr{
    border-bottom: 2px solid var(--color-primary-dark);
}

#view-change-table th,#view-change-table td{
    width:20%;
}

#view-change-table td:not(.small){
    padding-left: 3px;
    padding-right: 2px;
}

#view-change-table th.small,#view-change-table td.small{
    width:10%;
    text-align: center;
    font-weight: bold;
}

#view-change-table td.small{
    display: table-cell;
}

#view-change-table tr *:not(:nth-child(1)){
    border-left:2px solid var(--color-primary-dark);
}

#database-menu{
    flex-direction: column;
}

#database-list{
    overflow-y: auto;
    flex-grow: 1;
}

#database-list div{
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
}

#database-list div:nth-child(odd){
    background:var(--color-primary-light);
}

#database-list div label{
    flex-grow: 1;
    margin-left: 5px;
}

#database-list div span{
    margin-right: 5px;
}

#database-list button{
    border-radius: 5px;
    margin-left: 5px;
    background:white;
}

#database-list button.newsave{
    margin-top: 5px;
}
